#account-info {
  display: none;
}

.account-balance {
  text-align: center;
  font-size: 2em;
  border: 2px solid black;
}

label {
  font-style: italic;
  font-size: 1.3em;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
  margin-top: 80px;
}
